.card__wrapper{
    display: flex;
    max-width: 370px;
    min-width: 200px;
    background-color: #f4f4f5;
    margin: 5px;
    border-radius: 2rem;
    border:2px solid #00a7ca;
}
.card__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    text-align: center;
    height: 100%;
    /* flex-wrap: wrap; */
   
}
.card__container img{
    width: 100px;
}
.card__container h2{
    margin: 15px;
    font-family: cursive;
}
.card__container p{
    margin: 15px;
    color: #4c6478;
    font-family: cursive;
}
/* @media screen and (max-width:900px) {
    .card__wrapper{
        max-width: 600px;
    }
    } */